* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  display: grid;
  font-family: "DM Serif Text", serif;
  background: linear-gradient(120deg, #ef4680,#500ae4);
  color: white;
}
